<html>

        <head>
        </head>

        <body>
               <div>
                        <app-home></app-home>
                </div>
        </body>

</html>

<!--
        
<div class="container-fluid">    
        <div class=" container-lg  container-md container-sm"  style="background-color: rgb(127, 161, 255);">
                <p>The table below illustrates how each container’s max-width 
                        compares to the original .container and .container-fluid across 
                        each breakpoint.</p>
                <p>The table below illustrates how each container’s max-width 
                        compares to the original .container and .container-fluid across 
                        each breakpoint.</p>
                <p>The table below illustrates how each container’s max-width 
                        compares to the original .container and .container-fluid across 
                        each breakpoint.</p>
        </div>                
        <div class="container-lg" style="background-color: aquamarine;">
                <div class="container-md">
                        <div class="container-sm">
                                <p>Default container
                                        Our default .container class is a responsive, fixed-width container, meaning its max-width changes at each breakpoint.</p>
                                <p>Default container
                                        Our default .container class is a responsive, fixed-width container, meaning its max-width changes at each breakpoint.</p>
                                <p>Default container
                                        Our default .container class is a responsive, fixed-width container, meaning its max-width changes at each breakpoint.</p>
                        </div>
                </div>
        </div>   
</div>
-->