<div class="cadastro-user-total">
        <div class="borda-do-form">
                <h3>Cadastro Usuários</h3>
                <hr>
                <form class="row g-3">
                        <div class="col-4">
                                <label for="staticEmail2">E-mail</label>
                                <input type="text" class="form-control" id="staticEmail2" value="email@example.com">
                        </div>

                        <div class="col-4">
                                <label for="inputNome">Nome</label>
                                <input type="text" class="form-control" id="inputNome" placeholder="Digite seu nome">
                        </div>

                        <div class="col-4">
                                <label for="inputDataBatis">Data de Batismo</label>
                                <input type="date" class="form-control" id="inputDataBatis"
                                        placeholder="Digite seu nome">
                        </div>

                        <div class="col-auto">
                                <label for="inputNomeCongr">Nome da Congr.pertencente</label>
                                <input type="text" class="form-control" id="inputNomeCongr"
                                        placeholder="Digite seu nome">
                        </div>
                        <div class="col-auto">
                                <label for="inputStatus">Status</label>
                                <input type="text" class="form-control" id="inputStatus"
                                        placeholder="Digite seu nome">
                        </div>

                        <div class="col-auto">
                                <label for="inputPassword2">Password</label>
                                <input type="text" class="form-control" id="inputPassword2"
                                        placeholder="Digite sua senha de acesso">
                        </div>
                </form>
        </div> 
        <div class="d-flex flex-row justify-content-between cadastro-user-total-botao">
                <div class="p-2">
                        <button type="button" class="btn btn-secondary">Voltar</button>
                </div>
                <div class="p-2">
                        <button type="button" class="btn btn-primary">Cadastrar</button>
                </div>
        </div>
</div> 

<div class="cadastro-user-total-botao">
        <div class="ajuste-botao-form">
                <div class="row justify-content-between">
                        
                        

                </div>
        </div>
</div>
