<div>
        <h4>Cadastro de Publicadores do Sistema  JW_ServiceMaster</h4>
        <form>
                <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                        <label for="exampleInputNome" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleInputNome" aria-describedby="NomeHelp">
                        <div id="NomeHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                        <label for="exampleInputFone" class="form-label">Fone</label>
                        <input type="text" class="form-control" id="exampleInputFone" aria-describedby="FoneHelp">
                        <div id="FoneHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                        <label for="exampleInputDateBatism" class="form-label">Date Baptism</label>
                        <input type="date" class="form-control" id="exampleInputDateBatism" aria-describedby="DateBatismHelp">
                        <div id="DateBatismHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                        <label for="exampleInputCongrName" class="form-label">Congregation name</label>
                        <input type="text" class="form-control" id="exampleInputCongrName" aria-describedby="CongrNameHelp">
                        <div id="CongrNameHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>