<div class="card-login">
        <div class="card text-bg-primary p-2">
                <!--
                        "TheoAssign"
                        "TheoTasker"
                        "MinistryAssign"
                        "TheoDesignate"
                        "ServiceMaster"
                -->
                <div class="card-header ">
                        <h3>JW ServiceMaster</h3>
                </div>
                <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <p>App da designações teocráticas</p>
                        <!--Forms do login-->
                        <form>
                                <div class="mb-3">
                                        <label for="formGroupLogin" class="form-label">Login</label>
                                        <input type="text" class="form-control" id="formGroupLogin"
                                                placeholder="Enter Login">
                                </div>
                                <div class="mb-3">
                                        <label for="formGroupPassword" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="formGroupPassword"
                                                placeholder="Enter password">
                                </div>
                        </form>

                        <div class="button-login">
                                <button type="button" (click)="entrarNaHome()" 
                                class="btn btn-warning">Enter JW ServiceMaster</button>
                        </div>
                        
                </div>
        </div>
</div>