<!-- nome / email / data de batismo / nome da congr.pertencente / password -->
<table class="table table-striped">
        <thead>
                <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Data de Batismo</th>
                        <th scope="col">Congr.pertencente</th>
                        <th scope="col">Status</th>                        

                        <th scope="col">Visualizar</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>

                </tr>
        </thead>
        <tbody>
                <tr>
                        <th scope="row">0</th>
                        <td>Mark</td>
                        <td>email@email.com</td>
                        <td>21/02/2000</td>
                        <td>Jardim Catarina</td>
                        <td>ativo</td>

                        <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-eye-fill"></i>
                                </button>
                        </td>
                        <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-pencil-fill"></i>
                                </button>
                        </td>
                        <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-trash-fill"></i>
                                </button>
                        </td>
                </tr>
                <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>email@email.com</td>
                        <td>21/02/2000</td>
                        <td>Jardim Catarina</td>
                        <td>ativo</td>

                        <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-eye-fill"></i>
                                </button>
                        </td>
                        <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-pencil-fill"></i>
                                </button>
                        </td>
                        <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-trash-fill"></i>
                                </button>
                        </td>
                </tr>
                <tr>
                        <th scope="row">2</th>
                        <td>Mark</td>
                        <td>email@email.com</td>
                        <td>21/02/2000</td>
                        <td>Jardim Catarina</td>
                        <td>inativo</td>
                        
                        <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-eye-fill"></i>
                                </button>
                        </td>
                        <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-pencil-fill"></i>
                                </button>
                        </td>
                        <td>
                                <button type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-trash-fill"></i>
                                </button>
                        </td>
                </tr>
        </tbody>
</table>